@import 'variables';

.ratings {
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: $font;

  &__entry {
    color: $dark-magenta;
    background-color: $light-grey-magenta;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
  }

  &__entry__stars img {
    margin: 5px;
    margin-bottom: 10px;
  }
}