.ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: "Spartan", sans-serif;
}

.ratings__entry {
  color: #502050;
  background-color: #f7f2f7;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.ratings__entry__stars img {
  margin: 5px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: "Spartan", sans-serif;
  }
  .ratings__entry {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 20px;
  }
  .ratings__entry__stars img {
    margin: 8px;
    margin-bottom: 12px;
    width: 20px;
  }
}

@media (min-width: 1024px) {
  .ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
    font-family: "Spartan", sans-serif;
  }
  .ratings__entry {
    margin-bottom: 12px;
    padding: 8px;
    font-size: 24px;
  }
  .ratings__entry__stars img {
    margin: 10px;
    margin-bottom: 10px;
    width: 24px;
  }
}

@media (min-width: 1200px) {
  .ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin: 60px;
    font-family: "Spartan", sans-serif;
  }
  .ratings__entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 10px;
    padding: 16px;
    font-size: 14px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 400px;
  }
  .ratings__entry:nth-child(2) {
    margin-left: 55px;
  }
  .ratings__entry:nth-child(3) {
    margin-left: 110px;
  }
  .ratings__entry__stars {
    margin: 0 20px;
  }
  .ratings__entry__stars img {
    margin: 3px;
    margin-bottom: 0px;
    width: 14px;
  }
}

@media (min-width: 1400px) {
  .ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin: 65px;
    font-family: "Spartan", sans-serif;
  }
  .ratings__entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px 0px;
    padding: 22px;
    font-size: 16px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 420px;
  }
  .ratings__entry:nth-child(2) {
    margin-left: 55px;
  }
  .ratings__entry:nth-child(3) {
    margin-left: 110px;
  }
  .ratings__entry__stars {
    margin: 0 20px;
  }
  .ratings__entry__stars img {
    margin: 3px;
    margin-bottom: 0px;
    width: 18px;
  }
}
/*# sourceMappingURL=ratings.css.map */